<html>
  <head>
    <meta charset="utf-8">
    <title>Bioinformatics</title>
    <link rel = "icon" href =  
	D:\front\iitlogo.png 
        type = "image/x-icon"> 
    <link rel="stylesheet" href="style.css">
  </head>
  <body background="ddna.png">
    <h1>Bioinformatics Tools</h1>
    <p>Click on any of the tools below  </p>
    

    <a href="D:\front\hh2.html">
    <button class="styled"
        type="button" >
    DNA to mRNA
    </button>
	</a>
	
	<a href="D:\front\hh2.html">
    <button class="styled"
        type="button">
    mRNA to DNA

	</button>
	</a>
	<a href="D:\front\hh2.html">
    <button class="favorite styled"
        type="button">
    RNA to Protein

	</button>
	</a>
	<a href="D:\front\hh2.html">
    <button class="favorite styled"
        type="button">
    Global Alignment

	</button>
	</button>
	</a>
	<a href="D:\front\hh2.html">
    <button class="favorite styled"
        type="button">
    Add to favorites

	</button>
	</button>
	</a>
	<a href="D:\front\hh2.html">
    <button class="favorite styled"
        type="button">
    Add to favorites

	</button>
	</button>
	</a>
	<a href="D:\front\hh2.html">
    <button class="favorite styled"
        type="button">
    Add to favorites

	</button>
	</button>
	</a>
	<a href="D:\front\hh2.html">
    <button class="favorite styled"
        type="button">
    Add to favorites

	</button>
	</button>
	</a>
	<a href="D:\front\hh2.html">
    <button class="favorite styled"
        type="button">
    mRNA to DNA

	</button>
	</button>
	</a>
	<a href="D:\front\hh2.html">
    <button class="favorite styled"
        type="button">
    Add to favorites

	</button>
	</a>
</div>
  </body>
</html>