<html>
<head>
  <title>Hello World</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
 
First Sequence: <input id ="first_name" type="text">
Second Sequence: <input id="last_name" type = "password">
 <button id="say"class="favorite styled"
        type="button">
    Result

  </button>
<hr>
<div id="result"></div>
 
<script>
function say_hi() {
    var fname = document.getElementById('first_name').value;
    var lname = document.getElementById('last_name').value;
 
    var html = 'Hello <b>' + fname + '</b> ' + lname;
 
    document.getElementById('result').innerHTML = html;
}
 
document.getElementById('say').addEventListener('click', say_hi);
</script>
 
</body>
</html>